:root {
  --color-principal: #83072d;
  --color-background: #fbfbfe;
  --color-container: #ffffff;
  --color-border-container: #eff3f5;
  --color-shadow-container: rgba(94, 33, 41, 0.502);
  --color-title: #2a3b47;
  --color-subtitle: #41494a;
  --color-text: #697477;
  --color-hover-buttons: #e30202;
}
body.dark-theme {
  --color-principal: #83072d;
  --color-background: #192229;
  --color-container: #212e36;
  --color-border-container: #2a3b47;
  --color-shadow-container: rgba(94, 33, 41, 0.502);
  --color-title: #eff3f5;
  --color-subtitle: #c8cdd0;
  --color-text: #a0a7ac;
  --color-hover-buttons: none;
}

body {
  background-color: var(--color-background);
  font-size: 16px;
  align-items: center;
}

nav {
  background-color: var(--color-container);
  border: 1px solid var(--color-border-container);
  box-shadow: 0px 3px 10px var(--color-shadow-container);
  box-sizing: border-box;
  margin-bottom: 2em;
}
.nav-title {
  color: var(--color-principal);
  font-family: "Prompt";
  font-weight: 700;
  font-size: calc(1em + 0.75vw);
  text-transform: uppercase;
}

.login-container {
  background-color: var(--color-container);
  border: 1px solid var(--color-border-container);
  box-shadow: 0px 0px 15px var(--color-shadow-container);
  border-radius: 15px;
  align-items: center;
  text-align: center;
  padding: 2em;
  width: min-content;
}
.login-title-container {
  color: var(--color-principal);
  font-size: calc(4em + 3vw);
  font-family: "Prompt";
  font-weight: 500;
  text-transform: uppercase;
}

.login-form h1 {
  color: var(--color-subtitle);
  text-transform: uppercase;
  font-family: "Saira";
}
.login-form input {
  color: var(--color-title);
  border: 1px solid var(--color-principal);
  border-radius: 0.5em;
  padding: 0.15em;
  margin-top: 0.5em;
  font-size: calc(0.5em + 0.5vw);
  text-align: center;
  width: calc(8em + 7vw);
}

.container-restore-password {
  font-size: calc(0.5em + 0.4vw);
  margin-top: -1em;
  margin-bottom: 1em;
}
.container-restore-password span {
  color: var(--color-text);
}
.container-restore-password a {
  text-decoration-line: none;
}

.login-form .login-button-submit {
  color: var(--color-background);
  background-color: var(--color-principal);
  border-radius: 0.6em;
  font-size: calc(0.6em + 0.5vw);
  padding: 0.1em 0.5em;
  width: auto;
}
.login-form .login-button-submit:hover {
  background-color: var(--color-hover-buttons);
}
