{% extends "layout.html" %}

{% block content %}
<div class="container-panel-principal container row row-cols-3 justify-content-center">
    <!-- AGREGAR VENTA/GASTO -->
    <div class="col">
        <a href="/">
            <div>
                <i class="fa-solid fa-circle-plus fa-5x"></i>
            </div>
            <div>
                agregar <br> venta / gasto
            </div>
        </a>
    </div>

    <!-- REIMPRIMIR ULTIMA vENTA -->
    <div class="col">
        <a href="/">
            <div>
                <i class="fa-solid fa-print fa-5x"></i>
            </div>
            <div>
                Reimprimir <br> ultima venta
            </div>
        </a>
    </div>

    <!-- VER REPORTE COMPLETO -->
    <div class="col">
        <a href="/">
            <div>
                <i class="fa-solid fa-rectangle-list fa-5x"></i>
            </div>
            <div>
                ver reporte <br> completo
            </div>
        </a>
    </div>

    <!-- VER CATÁLOGO DE PRODUCTOS -->
    <div class="col">
        <a href="/catalogo-de-productos">
            <div>
                <i class="fa-solid fa-eye fa-5x"></i>
            </div>
            <div>
                ver catálogo <br> de productos
            </div>
        </a>
    </div>

    <!-- AGREGAR PRODUCTOS AL CATALOGO -->
    <div class="col">
        <a href="/">
            <div>
                <i class="fa-solid fa-file-circle-plus fa-5x"></i>
            </div>
            <div>
                agregar productos <br> al catalogo
            </div>
        </a>
    </div>

    <!-- QUITAR PRODUCTOS AL CATALOGO -->
    <div class="col">
        <a href="/">
            <div>
                <i class="fa-solid fa-file-circle-minus fa-5x"></i>
            </div>
            <div>
                quitar productos <br> del catalogo
            </div>
        </a>
    </div>

</div>
{% endblock %}