{% extends "layout.html" %}

{% block content %}
<div class="login-container container-md">
    <h1 class="login-title-container">
        gonrod
    </h1>

    <div class="login-form">
        <h1>iniciar sesion</h1>
        <form action="/" name="form" method='POST'>
            <input type="text" name="email" placeholder="Correo eletrónico"><br>
            <input type="password" name="password" placeholder="Contraseña"><br><br>
            <div class="container-restore-password">
                <span>¿Olvidaste tu contraseña? <a href="/reestablecer-contraseña">Clic aquí</a> </span>
            </div>
            <input type="submit" name="submit" class="login-button-submit" value="Iniciar sesión">
        </form>
    </div>
</div>
{% endblock %}